<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data-Binding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Hello {{Username}}</h1>
<input type="text" placeholder="Rair" (input)="changeUsername($event)">
<br>

<ion-item>
  <ion-label>Geil</ion-label>
  <ion-toggle [(ngModel)]="showPicture"></ion-toggle>
</ion-item>
<ion-img *ngIf="showPicture" src="https://vki-drupal.s3.eu-west-1.amazonaws.com/prod/s3fs-public/konsument/combo/Leberk%C3%A4sesemmeln-von-OMV-Tankstellen-und-von-Radatz-SYMBOLFOTO.jpg%22%3E"></ion-img>

<ion-item>
  <ion-label>S+</ion-label>
  <ion-toggle [(ngModel)]="showMadisonBeer"></ion-toggle>
</ion-item>
<ion-img *ngIf="showNikkou" src="/src/assets/img/nikkin.png" style="height: 200px;width: 200px;"></ion-img>

</ion-content>
